table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

caption {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: large;
  text-align: center;
  border: none;
}

td,
th {
  border: 1px solid #ccc;
  padding: 0.4em;
}

td:last-child {
  text-align: center;
}

tbody.errors-demo td {
  background: #fdd;
}
